.container {
	padding: 7px;
	border-radius: 7px;
	display: flex;
	flex-flow: column nowrap;
	gap: 5px;
	color: white;
	font-size: 20px;
	transition: all 0.2s linear;
}

.container:hover {
	transform: scale(1.02);
}

.linkContainer {
	width: 50%;
	text-align: center;
}
